.register-header {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.container--reg-form {
    display: flex;
    flex-direction: column;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 275px;
    margin: auto;
}