.login-header {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.container--login-form {
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 275px;
    margin: auto;
    background-color: #333;
}

.login-form--input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-family: sans-serif;
}

.login-form--input::-webkit-input-placeholder {
    font-family: 'Nikkyou Sans', sans-serif; 
}

.login-form--button {
    border: none;
    border-radius: 3px;
}