.nearby-heading {
color: #00FFFF;
}

.nearby-subHeading {
    color: #00FFFF;
    margin-top: 3rem;
} 

.nearby-object {
    border-radius: 25px;
    border: 2px solid #00FFFF;
    width: 100%;
    height: 350px;
    margin-top: 2rem;
}

.nearby-title {
    color: #00FFFF;
    margin-top: 1rem;
}

.nearby-image {
   width: 12rem;
   height: 9rem;
   border-radius: 10%;
   margin-bottom: 1rem;
}

.nearby-desc {
    color: #777;
    margin: auto;
    margin-bottom: 1rem;
}

.nearby-info {
    color: #00FFFF;
    margin-bottom: 1rem;
}