:root {
    --green: #0df5e2;
}

.about--main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.about-card {
    display: flex;
    border: solid var(--green);
    padding: 15px;
    padding-top: 30px;
    margin: 15px;
    border-radius: 10px;
    width: 900px;
    height: 350px;
    color: #fff;
}


.about-card--bio {
    margin-left: 25px;
    width: 450px;
}

.about-card--bio--text {
    text-align: left;
}

.about-card--left-subcontainer {
    width: 375px
}

.about-card--info-container {
    
}

.about-card--image-placeholder {
    width: 145px;
    height: 175px;
    border: solid;
    margin: auto;
}

.about-card--person-name {
    margin: 15px;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
}

.about-card--contact-info {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 10px;
}

.contact-info--list-item {
    display: flex;
    margin-left: 10px;
}